.dd-handle {
    width: 86%;
}

.item-edit-link {
    position: absolute;
    right:26px;
    top: 1px;
    padding: 4px 8px;
    border-radius: 3px;
}
.item-delete-link {
    position: absolute;
    right:-2px;
    top: 1px;
    padding: 4px 8px;
    border-radius: 3px;
}
